In [11]:
import os
from pathlib import Path
import pandas as pd

In [ ]:
root_path = Path.cwd()

parent_path = root_path.parent.parent
data_path = parent_path / "out" / "Nano Family" / "docling_chunks.jsonl"
print("Data Path:", data_path)

Root Path: c:\Users\Nasiba\Documents\1 Master Data Science\Master Thesis\VS Code New\master_thesis-rag\main\chunking\experiments
Data Path: c:\Users\Nasiba\Documents\1 Master Data Science\Master Thesis\VS Code New\master_thesis-rag\main\out\Nano Family\docling_chunks.jsonl
c:\Users\Nasiba\Documents\1 Master Data Science\Master Thesis\VS Code New\master_thesis-rag\main

In [14]:
df = pd.read_json(data_path, lines=True)
df.head(2)

,category,chunk_id,chunk_size,chunk_type,product,section,semantic_density,text,total_chunks
0,Nano Family,ABX00027-datasheet::c0,110,contextualized,Nano 33 IoT,NaN,0.2552,[Product: Nano 33 IoT] [Category: Nano Family]...,42
1,Nano Family,ABX00027-datasheet::c2,151,contextualized,Nano 33 IoT,NaN,0.2882,[Product: Nano 33 IoT] [Category: Nano Family]...,42

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          407 non-null    object
 1   chunk_id          407 non-null    object
 2   chunk_size        407 non-null    int64
 3   chunk_type        407 non-null    object
 4   product           407 non-null    object
 5   section           0 non-null      float64
 6   semantic_density  407 non-null    float64
 7   text              407 non-null    object
 8   total_chunks      407 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 28.7+ KB